@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* Background color classes */
.background-primary {
  background-color: #499f69;
}

.background-secondary {
  background-color: #d4d1c4;
}

.background-alternative {
  background-color: #ef4444;
}

.background-neutral {
  background-color: #c1c2c4;
}

/* Padding top classes */
.padding-top-none {
  padding-top: 0;
}

.padding-top-xs {
  padding-top: 0.5rem;
}

.padding-top-s {
  padding-top: 1rem;
}

.padding-top-m {
  padding-top: 3rem;
}

.padding-top-l {
  padding-top: 5rem;
}

.padding-top-xl {
  padding-top: 8rem;
}

/* Padding bottom classes */
.padding-bottom-none {
  padding-bottom: 0;
}

.padding-bottom-xs {
  padding-bottom: 0.5rem;
}

.padding-bottom-s {
  padding-bottom: 1rem;
}

.padding-bottom-m {
  padding-bottom: 3rem;
}

.padding-bottom-l {
  padding-bottom: 5rem;
}

.padding-bottom-xl {
  padding-bottom: 8rem;
}
